body{
  margin: 0;
  box-sizing: border-box;
  background: #1f1f1f;
  color: white;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". ."
      ". ."
      ". .";
    align-items: center;
}

.keypad{
  width: 30%;
  
}

.takeProduct{
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

button {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #87d3f1;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  margin: 5px;
}
.takeProduct button {
  width: 50%;
}
.keys {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 20px;
  grid-template-areas:
    ". . .";
  align-items: center;
  justify-self: center;
}

.products {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px 20px;
  grid-template-areas:
    ". . .";
  align-items: center;
  justify-self: center;
}